body{
	margin: 0px;
	padding: 0px;
}
.arrow{
	position: absolute;
	width:40px;
	height: 40px;
	margin-top: -40px;
}
.p1{
	width: 100%;
	height: 20px;
}
.head{
	width: 100%;
	height: 40px;
	margin: 0px;
	padding: 0px;
	background:#57cf22;
}
.div1{
	width: 100%;
	height: 100px;
	margin: 0px;
	padding: 0px;	
}
.div1 img{
	margin: 0px;
	padding: 0px;
}
.select_div{
	margin: 0px;
	padding: 0px;
	height: 50px;
}
.select_div p{
	float: left;
}
.div2{
	height:100px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.div2_p{
	float: left;
	margin-top:0px;
	width: 80px
}
.div_p2{
	width: 100%;
}
.div2_input{
	float: left;
	border: none;
	outline:none;
	width: 170px;
}

 .push_button {
	position: relative;
	width:330px;
	height:40px;
	border: none;
	outline:none;
	text-align:center;
	font-size: 25px;
	color:#FFF;
	text-decoration:none;
	line-height:43px;
	font-family:'Oswald', Helvetica;
	display: block;
	margin:100px auto 0px auto;
}

.push_button:active {
	top:5px;
}
.push_button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

.red {
	background:  #65c257;
	background-image:-moz-linear-gradient(top, #57cf22,  #65c257);
	border-radius:5px;
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #65c257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
	background: #57cf22;
	background-image:-webkit-linear-gradient(top,  #65c257, #57cf22);
	background-image:-moz-linear-gradient(top,  #65c257, #57cf22);
	background-image:-ms-linear-gradient(top,  #65c257, #57cf22);
	background-image:-o-linear-gradient(top,  #65c257, #57cf22);
	background-image:linear-gradient(top,  #65c257, #57cf22);
}
.price{
	float: right;
}
.price_input{
	border: none;
	outline:none;
}